<header id="header">

    <div class="profile-wrapper">
        <div class="profile-wrapper-image">
            <img class="profile-image" src="../../assets/pexels-elle-hughes-1680172.jpg" alt="profile image">
        </div>
        <h2 class="profile-greeting">Hello, Username!</h2>
    </div>

    <div class="navigation-search">
        <input type="text" class="search-input" placeholder="Search...">
        <i class="fas fa-search search-icon"></i>
    </div>

    <nav class="navigation">
        <ul class="navigation-items">
            <li class="nav-item">Dashboard</li>
            <li class="nav-item">My Recipes</li>
            <li class="nav-item">Saved Recipes</li>
            <li class="nav-item">Followed Artists</li>
            <li class="nav-item">Shopping List</li>
            <li class="nav-item">Order List</li>
            <li class="nav-item">Meal Planner</li>
            <li class="nav-item">Logout</li>
        </ul>
    </nav>

    <div class="socials-wrapper">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-spotify"></i>
    </div>

    <div class="upload-wrapper">
        <div>
            <img class="upload-image" src="../../assets/pexels-brigitte-tohm-239581.jpg" alt="Upload banner image">
            <h2 class="upload-text">Upload Recipe</h2>
        </div>
    </div>

</header>